extends ../layouts/base.pug

block content
  main.page-content
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          a.tickets-list__btn.btn.btn--big(href='#')
            span Новая публикация
        ul
          each offer, index in offers
            - var label = offer.type === 'offer' ? 'Продам' : 'Куплю';
            - var color = index > 9 ? index + 1 : '0' + (index + 1);
            li.tickets-list__item.js-card
              div(class="ticket-card ticket-card--color" + color)
                .ticket-card__img
                  img(src=offer.picture alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label #{label}
                  .ticket-card__categories
                    each category in offer.categories
                      a(href='#') #{category}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') #{offer.title}
                    p.ticket-card__price
                      span.js-sum #{offer.sum}
                      |  ₽
                button.ticket-card__del.js-delete(type='button') Удалить

